input::placeholder {
  color: rgb(35, 32, 32);
  opacity: 0.3;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
